<div class="column is-one-quarter">
    <div class="panel">
        <div class="panel-heading">Trends</div>
        <div class="panel-block">
            Trends        
        </div>
         <div class="panel-block">
            Trends        
        </div>
         <div class="panel-block">
            Trends        
        </div>
         <div class="panel-block">
            Trends        
        </div>
         <div class="panel-block">
            Trends        
        </div>
    </div>
</div>